name : ci and cd pipeline

on:
    push:
        branches: 
          - main
    pull_request:
        branches: 
          - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:  
      
      - name: checkout code
        uses: actions/checkout@v6

      - name: Build and push
        uses: docker/build-push-action@v6
        run: dockerbuild -t githubgist .
      
      - name: run container
        run: docker run githubgist -p 8080:8080            
          



